export(unirootTest,LAG,feVAR,stabilityCheck,residualPlot,predictPlot)

S3method(print, feVAR)
S3method(summary, feVAR)
S3method(coef, feVAR)
S3method(residuals, feVAR)
S3method(fitted, feVAR)
S3method(confint, feVAR)
S3method(predict, feVAR)
S3method(logLik, feVAR)
S3method(extractAIC, feVAR)
S3method(AIC, feVAR)
S3method(BIC, feVAR)
S3method(print, unirootTest)

importFrom("grDevices", "adjustcolor", "n2mfrow")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "par", "points", "polygon")
importFrom("stats", "approx", "ar", "cor", "cov", "embed", "fitted.values", "formula", "lm",
  "logLik", "AIC", "BIC", "model.matrix", "na.omit", "pnorm", "pchisq", "predict", "qnorm",
  "qqline", "qqnorm", "residuals", "residuals.lm", "summary.lm", "confint.lm", "var", "nobs",
  "complete.cases")
importFrom("utils", "flush.console")